/************ Reset some default styles ************/
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

/************ Global styles ************/
body {
    font-family: Arial, sans-serif;
}

/************ Header styles ************/
header {
    background-color: #f1f1f1;
    padding: 10px;
}

.logo {
    display: inline-block;
    margin-right: 10px;
}

h1 {
    /* Display properties */
    display: inline-block;

    /* Typography properties */
    font-size: 1.6rem;
    font-weight: bold;
}

nav ul {
    /* List style properties */
    list-style: none;

    /* Box model properties */
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

    /* Flexbox properties */
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 15px;
}

nav a {
    color: #125dff;
    text-decoration: none;
}


/************ Main section styles ************/
main {
    padding: 20px;
}

h2 {
    /* Typography properties */
    font-size: 1.5rem;
    font-weight: bold;

    /* Box model properties */
    text-align: center;
    margin-bottom: 20px;
}

.card-container {
    /* Grid container properties */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.card {
    /* Grid properties */
    grid-column: span 4; /* each card takes 4 grid columns */

    /* Box model properties */
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;

    /* Typography properties */
    text-align: center;

    /* Background color property */
    background-color: #f8f8f8;

    /* Flexbox properties */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    /* Typography properties */
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card p {
    /* Box model properties */
    margin-bottom: 20px;

    /* color properties */
    color: #555;
}

.card .read-more {
    /* Box model properties */
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;

    /* Background and color properties */
    background-color: #125dff;
    color: #fff;

    /* Typography properties */
    text-decoration: none;

    /* Button properties */
    width: 100px;
    margin: auto 0 0;
}


/************ Footer styles ************/
footer {
    /* Padding properties */
    padding: 20px;

    /* Background color property */
    background-color: #f1f1f1;

    /* Text alignment property */
    text-align: center;
}

.footer-container {
    /* Grid container properties */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;

    /* Grid item alignment properties */
    justify-items: center;
}

.footer-item {
    /* Grid layout properties */
    grid-column: span 4; /* each card takes 4 grid columns */

    /* Box model properties */
    padding: 2px;
    margin-bottom: 0px;
    box-sizing: border-box;

    /* Typography properties */
    text-align: center;
}

.footer-item a {
    /* Color properties */
    color: #123d8f;

    /* Typography properties */
    font-size: 0.9rem;
    text-decoration: none;
}


/*
 *  The page is adaptive, with a breakpoint at 50rem
 *  Below that breakpoint, the cards will move from a horizontal layout to a vertical one
 */
 @media(max-width: 50rem) {
    header {
      /* Flex container properties */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .logo {
      margin-bottom: 10px;
    }
  
    nav ul {
      flex-direction: column;
      align-items: center;
    }

    .card {
        grid-column: span 12; /* each card takes all 12 grid columns */
    }

    .footer-item {
        grid-column: span 12; /* each card takes all 12 grid columns */
    }

    /*
    .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }
    */
}
